<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap</title>
    <style>
      .mainImageTop{
        #background:url("https://images.unsplash.com/photo-1517856713891-215e57a13c0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60") center center no-repeat;
        background: #fcba03;
        background-size:cover;
        height:400px;
        width: auto;

      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
     integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
     crossorigin="anonymous">
  </head>
  <body id="page-top">

    <nav class="navbar bg-dark navbar-dark navbar-expand-lg fixed-top" id="mainNav">
     <div class="container">
       <a href="navbar-brand js-scroll-trigger">Bootstrap</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
       aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggel navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarRresponsive">
       <ul class="navbar-nav ml-auto">
         <li class="nav-item active">
           <a class="nav-link js-scroll-trigger" href="#" >Home</a>
         </li>
         <li class="nav-item">
           <a class="nav-link js-scroll-trigger" href="#about">About</a>
         </li>
         <li class="nav-item">
           <a class="nav-link js-scroll-trigger" href="#Contact">Contact</a>
         </li>
      </ul>
      </div>
     </div>
    </nav>
    <header class="mainImageTop">
      </header>
      <section id="about" class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>About Us</h2>
              <p class="lead">A paragraph is a series of related sentences developing a central idea, called the topic.
                 Try to think about paragraphs in terms of thematic unity:</p>
                 <p>a paragraph is a sentence or a group of
                 sentences that supports one central,  unified idea. Paragraphs add one idea at a time to
                  your broader argument.
                </p>
            </div>
          </div>
          </div>
        </section>
        <section id="Contact" class="bg-light py-5">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2>Contact Us</h2>
                <div class="container">
                  <div class="myform">
                  <form>
                    <div class="form-group">
                    <label for="name">Your Name</label>
                    <input type="text" class="form-control" id="name" placeholder="your name">
                    </div>
                    <div class="form-group">
                    <label for="email">Your Email</label>
                    <input type="text" class="form-control" id="email" placeholder="your email">
                    </div>
                    <button type="submit" class="btn btn-primary">send me message</button>
                 </form>
                   </div>
                 </div>
              </div>
            </div>
            </div>
          </section>
          <footer class="py-5 bg-dark">
            <div class="container">
              <p class="m-0 text-center text-warning">Copyright anytime</p>
            </div>
          </footer>












    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
     integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
     crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
     integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
     crossorigin="anonymous"></script>
  </body>
</html>
